<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Sentiment Analysis App</h1>
    <input type="text" id="searchText" placeholder="Enter the text">

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="javascripts/appdata.js"></script>
  </body>
</html>